body {
  background: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

video {
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
  margin-top: 20px;
}

button {
  padding: 14px 22px;
  margin: 10px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
}

.ok {
  color: #00ff7f;
  font-size: 24px;
}

.fail {
  color: #ff4444;
  font-size: 24px;
}


